<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Header</title>
</head>

<body>

	<footer class="navbar navbar-inverse navbar-fixed-bottom"
		th:fragment="footer">
		<div class="container-fluid">
			<div class="container">
				<small> 
				<a class="navbar-brand">Copyright &#xa9 2018</a> <!-- © ==>&#xa9 -->
				</small>
			</div>
		</div>
	</footer>

</body>

</html>