<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- other way to use bootstrap see pom.xml -->		
<link rel="stylesheet" type="text/css" 
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{/css/styleErrors.css}"
	href="../../static/css/styleErrors.css" />
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a th:href="@{/}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home </a>
                    <a th:href="@{/}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>